.container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.label {
  color: var(--gray-400);
}

.input {
  padding: 1rem;
  border-radius: 0.125rem;
  border: 0.1rem solid var(--gray-100);
}

.input::placeholder {
  color: var(--gray-200);
}

.input:hover {
  border-color: var(--violet-400);
}

.input:focus-visible {
  outline: none;
  box-shadow: 0px 0px 0px 0.5px var(--white), 0px 0px 0px 2px var(--violet-400);
  border-color: var(--violet-400);
}

textarea.input {
  height: 6.25rem;
  resize: none;
}
