.SliderRoot {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  width: 100%;
  height: 1.5rem;
}

.SliderTrack {
  background-color: #d9d9d9;
  position: relative;
  flex-grow: 1;
  border-radius: 9999px;
  height: 0.25rem;
}

.SliderTrack.gradient {
  background: linear-gradient(
    to right,
    #ff0000,
    #ff8a00,
    #ffe600,
    #14ff00,
    #00a3ff,
    #0500ff,
    #2900ff,
    #ad00ff,
    #ff00c7,
    #ff0000
  );
}

.SliderRange {
  position: absolute;
  background-color: white;
  border-radius: 9999px;
  height: 100%;
}

.SliderRange.gradient {
  background-color: transparent;
}

.SliderThumb {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #141414;
  border: 1.5px solid #ffffff;
  box-shadow: 0 0px 3px #ffffff;
  border-radius: 10px;
}

.SliderThumb:hover {
  background-color: #f5f2ff;
}

.SliderThumb:focus {
  outline: none;
  box-shadow: 0 0 0 5px rgb(0 0 0 / 0.6);
}
